<!DOCTYPE html>
<html>

<body>
    <h1> Rate a film</h1>

    <form method="post">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="opinion" placeholder="Opinion" required>
        <input type="number" min="1" max="10" name="rating" placeholder="Rating" required>
        <input type="datetime-local" name="time" required>
        <input type="text" name="author" placeholder="Author" required>
        <input type="submit" value="Rate">
    </form>

</body>

</html>